.logo {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  &.large {
    width: 20px;
    height: 20px;
  }

  &.extra_large {
    width: 16px;
    height: 16px;
  }
}
