.switch {
  :global(.react-switch-bg) {
    background: transparent !important;
    border: 1.5px solid var(--base-2) !important;
    width: 48px !important;
    height: 24px !important;
    border-radius: 62px !important;

    @include smallMedia {
      width: 68px !important;
      height: 32px !important;
    }
  }

  :global(.react-switch-handle) {
    background-color: var(--base-2) !important;
    width: 16px !important;
    height: 16px !important;
    top: 0 !important;
    bottom: 0 !important;
    margin: auto 0 !important;

    @include smallMedia {
      width: 24px !important;
      height: 24px !important;
    }
  }

  &:not(.checked) :global(.react-switch-handle) {
    transform: translateX(4px) !important;
  }

  &.checked {
    :global(.react-switch-bg) {
      border: none !important;
      background-color: $primary !important;
    }
    :global(.react-switch-handle) {
      background-color: $white !important;
    }
  }
}
