.alert {
  border-radius: 6px;
  background-color: $light-base-0;
  position: relative;

  .content {
    padding: 12px 16px;
    display: flex;
  }

  .contentInner {
    flex: 1;
  }

  .title {
    font-weight: $font-semibold;
    font-size: $text-small;
    line-height: $line-height-small;
    color: $light-primary-text;
  }

  .description {
    font-weight: $font-regular;
    font-size: $text-tiny;
    line-height: $line-height-tiny;
    color: $light-secondary-text;
  }

  .icon {
    margin-right: 12px;
    width: 20px;
    height: 20px;
  }

  .close {
    color: $dark-secondary-text;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  .action {
    display: flex;

    .cancel {
      font-weight: $font-semibold;
      color: $light-primary-text;
      font-size: $text-small;
      margin-right: 24px;
      cursor: pointer;
    }

    .confirm {
      font-weight: $font-semibold;
      font-size: $text-small;
      cursor: pointer;
    }
  }

  &.success {
    border-left: 8px solid $success;

    .icon,.confirm {
      color: $success
    }

  }

  &.danger {
    border-left: 8px solid $error;

    .icon,.confirm {
      color: $error
    }
  }

  &.warning {
    border-left: 8px solid $warning;

    .icon,.confirm {
      color: $warning
    }
  }

  &.info {
    border-left: 8px solid $xiketic-30;

    .icon,.confirm {
      color: $xiketic-30;
    }
  }


}

body[data-theme="light"] {
  .alert {
    background-color: $dark-base-0;

    .title {
      color: $light-disabled;
    }

    .description {
      color: $dark-secondary-text;
    }

    .cancel {
      color: $dark-primary-text;
    }
  }
}

