@import "../index.module.scss";

.container {
  .suffix {
    position: absolute;
    top: -1.5px;
    right: -1.5px;
    width: 48px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 8px 8px 0;
    background-color: var(--secondary-button-bg);

    svg {
      margin: 0 !important;
    }

    @include smallMedia {
      height: 48px;
    }
  }

  input:not(:placeholder-shown) ~ .suffix {
    background-color: var(--focused-input);
  }

  &.small .suffix {
    width: 40px;
    height: 24px;
    @include smallMedia {
      height: 36px;
    }

    svg {
      @include smallMedia {
        width: 20px;
        height: 20px;
      }
    }
  }
  &.medium .suffix {
    width: 44px;
    height: 32px;
    @include smallMedia {
      height: 32px;
    }
  }
}
