.breadcrumbs {
  display: flex;
  gap: 8px;
  width: fit-content;
  font-size: $text-body;
  line-height: $line-height-body;
  color: $dark-secondary-text;

  @include smallMedia {
    font-size: $text-small;
    line-height: $line-height-small;
  }

  .item {
    * {
      color: $dark-secondary-text;
    }

    &.active * {
      color: $dark-primary-text;
    }
  }
}
