.breadcrumbs {
  display: flex;
  gap: 8px;
  width: fit-content;
  font-size: $text-small;
  line-height: $line-height-small;
  color: $dark-secondary-text;

  @include smallMedia {
    font-size: $text-body;
    line-height: $line-height-body;
  }

  .item {
    * {
      color: $dark-secondary-text;
    }

    &.active * {
      font-weight: $font-semibold;
      color: $dark-primary-text;
    }
  }

  &.light {
    color: $light-secondary-text;
    .item {
      * {
        color: $light-secondary-text;
      }

      &.active * {
        color: $light-primary-text;
      }
    }
  }
}
