.breadcrumbs {
  display: flex;
  gap: 8px;
  width: fit-content;
  font-size: $text-small;
  line-height: $line-height-small;
  color: var(--secondary-text);

  @include smallMedia {
    font-size: $text-body;
    line-height: $line-height-body;
  }

  .item {
    white-space: nowrap;

    * {
      color: var(--secondary-text);
    }

    &.active * {
      font-weight: $font-semibold;
      color: var(--primary-text);
    }
  }
}
