.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  svg {
    width: 100%;
    height: 100%;
    * {
      fill: #454561;
    }
  }

  &.light svg * {
    fill: white;
  }

  &.large {
    width: 32px;
    height: 32px;
  }

  &.small {
    width: 20px;
    height: 20px;
  }

  &.extra_small {
    width: 16px;
    height: 16px;
  }

  &.extra_extra_small {
    width: 12px;
    height: 12px;
  }
}
