.chip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  color: var(--primary-text);
  background-color: var(--base-2);
  border: 1.5px solid var(--base-2);
  cursor: pointer;

  svg {
    color: var(--primary-text);
  }

  &.small {
    padding: 4px 12px;
    font-size: $text-tiny;
    height: 24px;
  }

  &.medium {
    padding: 4px 12px;
    font-size: $text-body;
    height: 32px;
  }

  &.large {
    padding: 6px 12px;
    font-size: $text-body;
    height: 36px;
  }

  .content {
    display: flex;
    flex-grow: 1;
    gap: 8px;

    &:only-child {
      justify-content: center;
    }
  }

  &.disabled {
    color: var(--placeholder-text);
    pointer-events: none;

    svg {
      color: var(--placeholder-text);
    }
  }

  &.active {
    font-weight: $font-medium;
    border-color: $primary-30;
  }

  &:hover {
    border-color: $primary-30;
  }

  &.prefix {
    width: 20px;
    height: 20px;
  }

  &.suffix {
    width: 20px;
    height: 20px;
  }
}
