.container {
  width: 100%;
  display: flex;
  align-items: center;
  border: 1.5px solid $dark-base-2;
  padding: 8px 16px;
  height: 40px;
  border-radius: 8px;
  position: relative;

  &:focus-within,
  &:hover {
    border-color: $xiketic-40;
    &.light {
      border-color: $xiketic-20;
    }
  }

  &.small {
    height: 24px;
    padding: 1px 8px;

    input {
      font-size: $text-small;
      line-height: $line-height-small;
    }

    .prefix svg {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }
    .suffix svg {
      width: 16px;
      height: 16px;
      margin-left: 8px;
    }
  }
  &.medium {
    height: 32px;
    font-size: $text-small;
    line-height: $line-height-small;
    padding: 4px 12px;
    .prefix svg {
      width: 20px;
      height: 20px;
      margin-right: 4px;
    }
    .suffix svg {
      width: 20px;
      height: 20px;
      margin-left: 8px;
    }
  }

  input {
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    color: $dark-primary-text;
    font-family: $basier-circle;
    font-size: $text-body;
    line-height: $line-height-body;
    display: flex;
    background: transparent;

    &:invalid {
      border-color: $forward-red-40;
    }

    &::placeholder {
      color: $dark-placeholder-text;
    }

    &[type="password"] {
      &::-ms-reveal,
      &::-ms-clear {
        display: none;
      }
    }
  }

  .prefix {
    margin-right: 8px;
    path {
      fill: $dark-placeholder-text;
    }
  }
  .suffix {
    margin-left: 10px;
    color: $dark-placeholder-text;
    background-color: transparent;
    path {
      fill: $dark-primary-text;
    }
  }

  &.light {
    border-color: $light-base-2;
    input {
      color: $light-primary-text;
      &::placeholder {
        color: $light-placeholder-text;
      }
    }

    .prefix path {
      fill: $light-placeholder-text;
    }
    .suffix {
      color: $light-placeholder-text;
      path {
        fill: $light-primary-text;
      }
    }
  }
}
