// font family
$basier-circle: "Basier Circle";

// font size
$text-h1: 48px;
$text-h2: 40px;
$text-h3: 32px;
$text-h4: 28px;
$text-h5: 24px;
$text-title: 20px;
$text-subtitle: 18px;
$text-body: 16px;
$text-small: 14px;
$text-tiny: 12px;

// font size
$line-height-h1: 52px;
$line-height-h2: 48px;
$line-height-h3: 46px;
$line-height-h4: 40px;
$line-height-h5: 32px;
$line-height-title: 30px;
$line-height-subtitle: 24px;
$line-height-body: 24px;
$line-height-small: 22px;
$line-height-tiny: 16px;

// font weight
$font-black: 800;
$font-bold: 700;
$font-semibold: 600;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;
