/* -------------------------------- Basier Circle ------------------------------- */

@font-face {
  font-family: 'Basier Circle';
  src: local('Basier Circle'),
    url('../fonts/BasierCircle-Bold.woff2') format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Basier Circle';
  src: local('Basier Circle'),
    url('../fonts/BasierCircle-SemiBold.woff2') format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Basier Circle';
  src: local('Basier Circle'),
    url('../fonts/BasierCircle-Medium.woff2') format('woff2');
  font-weight: 500;
}
@font-face {
  font-family: 'Basier Circle';
  src: local('Basier Circle'),
    url('../fonts/BasierCircle-Regular.woff2') format('woff2');
  font-weight: 400;
}

//italic
@font-face {
  font-family: 'Basier Circle';
  src: local('Basier Circle'),
    url('../fonts/BasierCircle-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Basier Circle';
  src: local('Basier Circle'),
    url('../fonts/BasierCircle-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Basier Circle';
  src: local('Basier Circle'),
    url('../fonts/BasierCircle-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Basier Circle';
  src: local('Basier Circle'),
    url('../fonts/BasierCircle-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}
