@import "colors";

body {
  // === Light theme ===
  --body-bg: #{$light-background};
  --primary-text: #{$light-primary-text};
  --secondary-text: #{$light-secondary-text};
  --tertiary-text: #{$light-tertiary-text};
  --placeholder-text: #{$light-placeholder-text};

  --base-2: #{$light-base-2};

  --focused: #{$xiketic-40};
  --disabled: #{$light-disabled};

  // === Dark theme ===
  &[data-theme="dark"] {
    --body-bg: #{$dark-background};
    --primary-text: #{$dark-primary-text};
    --secondary-text: #{$dark-secondary-text};
    --tertiary-text: #{$dark-tertiary-text};
    --placeholder-text: #{$dark-placeholder-text};

    --base-2: #{$dark-base-2};

    --focused: #{$xiketic-20};
    --disabled: #{$dark-disabled};
  }
}
