// Font Styles
@import "fonts-family";
@import "fonts";

// Color Vars
@import "theme";
@import "colors";

// Mixins
@import "mixins";

@import '~react-calendar/dist/Calendar.css';
@import "~@forward-protocol/ui-icons/dist/assets/styles/index.css";

body {
  overflow: overlay;
  background: var(--body-bg);
  color: var(--primary-text);
  font-family: $basier-circle;
  font-size: $text-body;
  font-weight: $font-regular;
  line-height: $line-height-body;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &[is-modal-open="1"] {
    overflow: hidden;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

h1 {
  font-size: $text-h1;
  line-height: $line-height-h1;
}

h2 {
  font-size: $text-h2;
  line-height: $line-height-h2;
}

h3 {
  font-size: $text-h3;
  line-height: $line-height-h3;
}

h4 {
  font-size: $text-h4;
  line-height: $line-height-h4;
}

h5 {
  font-size: $text-h5;
  line-height: $line-height-h5;
}

h6 {
  font-size: $text-title;
  line-height: $line-height-title;
}

hr {
  border: 0px;
  height: 1px;
  width: 100%;
  background: $xk-80;
}

/*
 * Scrollbar
*/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgba($grey-100, 0.1);
  border-radius: 8px;
  margin: 5px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba($grey-80, 0.9);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba($grey-60, 0.9);
}
