.container {
  display: flex;
  gap: 8px;
  width: 320px;
  cursor: text;

  .digit {
    width: 46.67px;
    border-radius: 6px;
    padding: 0;

    @include smallMedia {
      border-radius: 12px;
    }

    input {
      text-align: center;
      @include smallMedia {
        font-size: $text-title;
        line-height: $line-height-title;
      }
    }
  }

  &.medium .digit {
    width: 46.67px;
  }
  &.small .digit {
    width: 23.33px;
    @include smallMedia {
      width: 35px;
    }

    input {
      @include smallMedia {
        font-size: $text-body;
        line-height: $line-height-body;
      }
    }
  }
}
