/* ------------------------------ Basier Circle ----------------------------- */

@font-face {
  font-family: 'Basier Circle';
  src: local('Basier Circle'),
    url('/src/assets/fonts/BasierCircle-Regular.otf') format('opentype');
}

/* -------------------------------- Sofia Pro ------------------------------- */

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'),
    url('/src/assets/fonts/Sofia\ Pro\ UltraLight\ Az.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'),
    url('/src/assets/fonts/Sofia\ Pro\ ExtraLight\ Az.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'),
    url('/src/assets/fonts/Sofia\ Pro\ Light\ Az.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'),
    url('/src/assets/fonts/Sofia\ Pro\ Regular\ Az.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'),
    url('/src/assets/fonts/Sofia\ Pro\ Medium\ Az.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'),
    url('/src/assets/fonts/Sofia\ Pro\ Semi\ Bold\ Az.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'),
    url('/src/assets/fonts/Sofia\ Pro\ Bold\ Az.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Sofia Pro';
  src: local('Sofia Pro'),
    url('/src/assets/fonts/Sofia\ Pro\ Black\ Az.otf') format('opentype');
  font-weight: 800;
}

/* ------------------------------ IBM Plex Mono ----------------------------- */

@font-face {
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono'),
    url('/src/assets/fonts/IBMPlexMono-Thin.ttf') format('truetype');
  font-weight: 100;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono'),
    url('/src/assets/fonts/IBMPlexMono-ExtraLight.ttf') format('truetype');
  font-weight: 200;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono'),
    url('/src/assets/fonts/IBMPlexMono-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono'),
    url('/src/assets/fonts/IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: 400;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono'),
    url('/src/assets/fonts/IBMPlexMono-Medium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono'),
    url('/src/assets/fonts/IBMPlexMono-SemiBold.ttf') format('truetype');
  font-weight: 600;
}
@font-face {
  font-family: 'IBM Plex Mono';
  src: local('IBM Plex Mono'),
    url('/src/assets/fonts/IBMPlexMono-Bold.ttf') format('truetype');
  font-weight: 700;
}

/* ------------------------------ Intero ----------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

// font family
$basier-circle: 'Basier Circle';
$sofia: 'Sofia Pro';
$ibm-plex-mono: 'IBM Plex Mono';
$inter: 'Inter';

// font size
$text-h1: 61px;
$text-h2: 49px;
$text-h3: 39px;
$text-h4: 31px;
$text-h5: 25px;
$text-title: 20px;
$text-subtitle: 18px;
$text-body: 16px;
$text-small: 14px;
$text-tiny: 10px;

// font weight
$font-black: 800;
$font-bold: 700;
$font-semibold: 600;
$font-medium: 500;
$font-regular: 400;
$font-light: 300;
