// Font Styles
@import 'fonts';

// Color Vars
@import 'theme';
@import 'colors';

// Mixins
@import 'mixins';

body {
  overflow: overlay;
  background: var(--body-bg);
  color: var(--primary-text);
  font-family: $sofia;
  font-size: $text-body;
  font-weight: $font-regular;
  line-height: 149%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // & * {
  //   transition: all 0.3s !important;
  // }
}

h1 {
  font-size: $text-h1;
}
h2 {
  font-size: $text-h2;
}
h3 {
  font-size: $text-h3;
}
h4 {
  font-size: $text-h4;
}
h5 {
  font-size: $text-h5;
}

hr {
  border: 0px;
  height: 1px;
  width: 100%;
  background: $gradient-grey-60;
}

/*
 * Scrollbar
*/
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgba($grey-100, 0.1);
  border-radius: 8px;
  margin: 5px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba($grey-80, 0.9);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba($grey-60, 0.9);
}
