.container {
  display: flex;
  position: relative;
  width: fit-content;
  height: fit-content;
  z-index: 1;

  label {
    display: flex;
    align-items: center;
    gap: 18px;
    color: $dark-tertiary-text !important;
    position: relative;
    cursor: pointer;

    .checkbox {
      width: 24px;
      height: 24px;
      border: 1.5px solid $dark-base-2;
      border-radius: 4px;
      position: relative;

      .check {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        display: none;
        background-color: $forward-red-30;
        border-radius: 2px;
        width: 15px;
        height: 15px;

        path {
          fill: $dark-primary-text;
        }
      }
    }
  }

  input[type="checkbox"] {
    display: none;

    &:checked ~ label {
      .checkbox {
        border-color: $forward-red-30;

        .check {
          display: block;
        }
      }
    }
  }
}
